<!DOCTYPE html>
<html ng-app="reuniao">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Agendador Reuniões</title>
        <meta name="description" content="">
        <meta name="author" content="thiago.teixeira">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css" />
        <link rel="stylesheet" href="node_modules/materialize-css/dist/fonts/roboto/Roboto-Regular.ttf" />
        <link rel="stylesheet" href="css/style.css" />
        <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
        <link rel="shortcut icon" href="img/calendario.ico">
    </head>

    <body>
        <div>
            <header>
                <h1>{{5 + 6}}</h1>
            </header>
            <nav>
                <p>
                    <a href="/">Home</a>
                </p>
                <p>
                    <a href="/contact">Contact</a>
                </p>
            </nav>

            <div>

            </div>

            <footer>
                <p>
                    &copy; Copyright  by thiago.teixeira
                </p>
            </footer>
        </div>
    </body>
    
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</html>
